:root {
  --cloud-color: #f4f4fd;
  --cornflower-color: #e7e9fc;
  --dairy-color: #fcfcfc;
  --green-color: #31d0aa;
  --grey-color: #2e2f42b3;
  --iris-color: #4d5ae5;
  --light-slate-color: #8e8f99;
  --navy-blue-color: #2e2f42;
  --navy-blue-transparent-color: #2e2f4214;
  --navy-blue-less-transparent-color: #2e2f4229;
  --navy-blue-modal-color: #2e2f4264;
  --ocean-color: #404bbf;
  --slate-color: #434455;
  --white-color: #ffffff;

  --font-logo: "Raleway", sans-serif;
  --font-button: "Roboto", sans-serif;
  --logo-size: 18px;
  --logo-letter-spacing: 0.03em;
  --body-letter-spacing: 0.02em;
  --button-size: 16px;
  --line-height-main: 1.5;
}
/* global */
body {
  color: var(--slate-color);
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
  margin-inline: auto;
}
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  border: 0;
  padding: 0;
}
.list {
  list-style: none;
}
/*end global*/
/*font style*/

/* header two */
.title-one,
.title-two,
.title-three,
.team,
.customers-heading,
.mobile-nav-list-font,
.mobile-nav-phone-font {
  font-size: 36px;
  letter-spacing: var(--body-letter-spacing);
  line-height: 1.1112;
}
.mobile-nav-list-font,
.mobile-nav-phone-font {
  font-weight: 700;
}
/* header three */
.team-names,
.mobile-nav-email-font {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: var(--body-letter-spacing);
  line-height: 1.2;
}
/* body */
.team-text,
.footer-text {
  font-size: var(--button-size);
  line-height: var(--line-height-main);
  letter-spacing: var(--body-letter-spacing);
}
/* small text */
.address-items {
  font: var(--font-button);
  font-size: 12px;
  letter-spacing: 0.04em;
  font-weight: 400;
}
/* body medium */
.text,
.footer-social-media-box,
.footer-label,
.menu {
  font-size: var(--button-size);
  line-height: var(--line-height-main);
  font-weight: 500;
  letter-spacing: var(--body-letter-spacing);
}
/* button text */
.push-one,
.footer-button,
.push-form-modal {
  font-size: var(--button-size);
  line-height: var(--line-height-main);
  font-weight: 500;
  letter-spacing: 0.04em;
}
.title-one,
.title-two,
.title-three,
.team,
.customers-heading,
.footer-social-media-box,
.footer-box,
.footer-label {
  text-align: center;
}
.mobile-nav-phone-font,
.mobile-nav-email-font,
.address-items {
  font-style: normal;
}
.icon-hamburger,
.nav-close-button,
.modal-close,
.push-one,
.push,
.push-footer,
.icons-list,
.company-icons,
.push-form-modal {
  cursor: pointer;
}
/*end font style*/
/* font colors */
.push-one,
.title-one,
.logo-footer-color,
.footer-text,
.footer-social-media-box,
.footer-label,
.push-footer,
.push-form-modal,
.footer-input:focus,
.footer-input:hover {
  color: var(--white-color);
}
.text,
.team-text,
.mobile-nav-email-font,
.contacts {
  color: var(--slate-color);
}
.web,
.team-names,
.mobile-nav-list-font,
.title-two,
.subpage,
.title-three {
  color: var(--navy-blue-color);
}
.studio,
.currentpage,
.contacts:hover,
.mobile-contacts:hover,
.contacts:focus,
.mobile-contacts:focus,
.subpage:hover,
.subpage:focus {
  color: var(--ocean-color);
}
.logo {
  color: var(--iris-color);
}

/* end colors */
/* background colors */
.push-one,
.icons-list,
.icons-list-footer,
.push-footer,
.icons-list-nav,
.push-form-modal {
  background-color: var(--iris-color);
}
.page-part-four,
.page-part-two-box {
  background-color: var(--cloud-color);
}
.page-part-four-figure {
  background-color: var(--white-color);
}
.footer-style {
  background-color: var(--navy-blue-color);
}
.currentpage::after,
.icons-list-nav:hover,
.icons-list-nav:focus {
  background-color: var(--ocean-color);
}
/* end background colors */
/* borders */

.push-one,
.push-footer,
.footer-input,
.push-form-modal,
.page-part-two-box {
  border-radius: 4px;
}
.icons-list-footer,
.icons-list,
.icons-list-nav {
  border-radius: 50%;
}
.icons-list,
.push-footer,
.push-form-modal {
  border-color: var(--iris-color);
}

.push-one,
.push-form-modal,
.footer-button {
  box-shadow: 0px 4px 4px 0px #00000026;
  border: none;
}
/* end borders */
/* logo */
.logo {
  font-family: var(--font-logo);
  font-weight: 800;
  font-size: var(--logo-size);
  letter-spacing: var(--logo-letter-spacing);
  line-height: 1.17;
  text-transform: uppercase;
}
.link {
  text-decoration: none;
}
/* end logo */
/* header */
.currentpage {
  position: relative;
}
.currentpage::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -23px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}
/* nav mobile menu */
.nav-container.is-open {
  translate: none;
}
.nav-container {
  position: fixed;
  min-width: 320px;
  max-width: 1170px;
  background-color: var(--white-color);
  top: 0;
  left: 0;
  translate: -100% 0 0;
  transition: translate 400ms;
}
.icon-hamburger {
  stroke: black;
}
.nav-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border: 0;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #2e2f421a;
  fill: var(--navy-blue-color);
}
.nav-button {
  border: none;
  background-color: transparent;
  outline: none;
}
.mobile-nav-position {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-nav-list-position {
  padding-left: 40px;
  padding-top: 80px;
  padding-bottom: 142px;
}
.mobile-nav-address {
  padding-left: 40px;
  padding-right: 35px;
  padding-top: 142px;
}
.mobile-nav-flex-adress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.mobile-icons-nav-flex {
  display: flex;
  gap: 56px;
  padding-left: 40px;
  padding-bottom: 40px;
}

.mobile-nav-flex-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;
}
.mobile-nav-list-position > li {
  padding: 20px 0px 20px 0px;
}
.mobile-nav-phone-font {
  color: var(--iris-color);
}
.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}
/* end nav mobile menu */
/* section 1 */
.page-part-one {
  background-image: linear-gradient(var(--grey-color), var(--grey-color)),
    url("../images/heroimagemobile@1x.jpg");
  background-size: cover;
  border: 1px solid;
  box-shadow: 0px 4px 4px 0px #00000040;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .page-part-one {
    background-image: linear-gradient(var(--grey-color), var(--grey-color)),
      url("../images/heroimagemobile@2x.jpg");
  }
}
@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .page-part-one {
    background-image: linear-gradient(var(--grey-color), var(--grey-color)),
      url("../images/heroimagemobile@3x.jpg");
  }
}
.push-one {
  padding: 16px 32px 16px 32px;
}
.nav-button-padding {
  padding: 24px 0px 24px 0px;
}
.title-one {
  white-space: pre-wrap;
}
.push-one:hover,
.push-one:focus,
.push:hover,
.push:focus {
  background-color: var(--ocean-color);
  box-shadow: 0px 4px 4px 0px #00000026;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* section 2 */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.title-three {
  padding-top: 0px;
  padding-bottom: 8px;
}
.page-part-two-box {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
}
/*section 4 */
.icons-list,
.icons-list-footer,
.icons-list-nav {
  padding: 12px;
  width: 40px;
  height: 40px;
}
.page-part-four-figure {
  box-shadow: 0 1px 6px 0 #2e2f4214, 0 1px 1px 0 #2e2f4229,
    0 2px 1px 0 #2e2f4214;
  display: block;
}
.icons-list:hover,
.icons-list:focus {
  background-color: var(--ocean-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* section 5 */
.company-icons {
  fill: var(--light-slate-color);
  width: 190px;
  height: 88px;
  border-radius: 4px;
  border: 1px solid var(--light-slate-color);
  margin: 0px 8px 72px 8px;
}
.company-icons:first-child {
  padding: 12px 32px 12px 32px;
}
.company-icons:hover,
.company-icons:focus {
  border-color: var(--ocean-color);
  fill: var(--ocean-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* footer */
.icons-list-footer,
.icons-list-nav {
  padding: 8px;
}
.push-footer {
  width: 165px;
  height: 40px;
}
.footer-svg {
  width: 24px;
  height: 20px;
}
.footer-input {
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  width: 398px;
  height: 40px;
  box-shadow: 0px 4px 4px 0px #00000026;
  padding-inline-start: 16px;
}
.footer-button {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-top: 8px;
}
.icons-list-footer:hover,
.icons-list-footer:focus {
  background-color: var(--green-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* size addjusted */
body {
  max-width: 428px;
  min-width: 320px;
}
.conteiner {
  margin-inline: auto;
}
.section-one-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.section-two-items,
.section-four-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  padding-left: 15px;
  padding-right: 15px;
}
.box-section-four-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team,
.customers-heading {
  padding-bottom: 72px;
}
.team-names {
  padding-top: 32px;
}
.team-names,
.team-text {
  padding-bottom: 8px;
}
.page-part-four-figure {
  padding-bottom: 32px;
}
.icons-list-flex {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.section-company-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.icons-list-flex-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-social-media {
  padding-top: 16px;
}
.footer-text {
  padding: 16px 80px 72px 80px;
  text-align: left;
}
.footer-box {
  padding-top: 100px;
}

.footer-button-div-child {
  padding-top: 16px;
  padding-bottom: 96px;
}
.footer-label {
  padding: 72px 0px 16px 0px;
}
.footer-button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 767px) {
  .menu,
  .contacts,
  .page-part-two-box,
  .page-part-three {
    display: none;
  }
}
@media (min-width: 768px) {
  .nav-button,
  .nav-container {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .page-part-one {
    background-image: linear-gradient(var(--grey-color), var(--grey-color)),
      url("../images/heroimagetablet@1x.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .page-part-one {
      background-image: linear-gradient(var(--grey-color), var(--grey-color)),
        url("../images/heroimagetablet@2x.jpg");
    }
  }
  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .page-part-one {
      background-image: linear-gradient(var(--grey-color), var(--grey-color)),
        url("../images/heroimagetablet@3x.jpg");
    }
  }
  body {
    min-width: 768px;
  }
  .page-part-two-box,
  .page-part-three {
    display: none;
  }
  .menu {
    display: flex;
    gap: 40px;
    padding-left: 120px;
  }
  .contacts {
    padding: 16px 16px 16px 0px;
  }

  .header-item {
    display: flex;
    justify-content: space-between;
    max-width: 768px;
  }
  .container {
    width: 768px;
  }
  .title-three,
  .footer-social-media-box,
  .footer-box,
  .footer-label {
    text-align: left;
  }
  .section-two-items,
  .section-four-item,
  .section-company-flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0px;
  }
  .section-two-items > li {
    width: 356px;
  }
  .text {
    padding-bottom: 72px;
  }
  .section + .page-part-two {
    padding-bottom: 12px;
  }
  .conteiner-section-two {
    max-width: 736px;
  }

  .page-part-four-figure {
    margin-bottom: 64px;
  }
  .section + .page-part-four {
    padding-bottom: 32px;
  }
  .section + .page-part-five {
    padding-bottom: 48px;
  }
  .conteiner-section-four,
  .conteiner-section-five,
  .footer-flex {
    max-width: 552px;
  }
  .company-icons {
    margin: 0px 0px 48px 0px;
    width: 168px;
  }
  .footer-flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 24px;
  }
  .footer-input {
    width: 264px;
  }
  .footer-button-div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    padding-bottom: 96px;
  }
  .footer-label {
    padding: 0 0 16px 0;
  }
  .footer-text {
    padding: 16px 0 0 0;
    max-width: 264px;
  }
  .footer-button-div-child {
    padding: 40px 0 0 0;
  }
  .footer-social-media-box {
    padding-top: 100px;
  }
}

@media (min-width: 1200px) {
  .page-part-one {
    background-image: linear-gradient(var(--grey-color), var(--grey-color)),
      url("../images/heroimage@1x.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .page-part-one {
      background-image: linear-gradient(var(--grey-color), var(--grey-color)),
        url("../images/heroimage@2x.jpg");
    }
  }
  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .page-part-one {
      background-image: linear-gradient(var(--grey-color), var(--grey-color)),
        url("../images/heroimage@3x.jpg");
    }
  }
  body {
    min-width: 1440px;
  }
  .menu {
    display: flex;
    gap: 40px;
    padding-left: 76px;
  }
  .currentpage::after {
    bottom: -28px;
  }
  .contacts {
    padding: 24px 0px 24px 0px;
  }

  .header-item {
    display: flex;
    justify-content: space-between;
  }
  .address-items {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  .contacts {
    font-size: var(--button-size);
    line-height: var(--line-height-main);
    letter-spacing: var(--body-letter-spacing);
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .conteiner {
    width: 1158px;
    margin-inline: auto;
  }
  .title-one {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: var(--body-letter-spacing);
    text-align: center;
  }
  .title-three-item {
    margin-bottom: 72px;
  }
  .section-three-items {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .title-three {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: var(--body-letter-spacing);
    line-height: 1.2;
    padding-top: 8px;
  }
  .box {
    width: 264px;
  }
  .text {
    font-size: var(--button-size);
    line-height: var(--line-height-main);
    letter-spacing: var(--body-letter-spacing);
    font-weight: 400;
  }
  .title-three,
  .footer-social-media-box,
  .footer-box,
  .footer-label {
    text-align: left;
  }
  .section-two-items,
  .section-four-item,
  .section-company-flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: none;
    gap: 24px;
    padding: 0px;
    justify-content: center;
  }
  .section-two-items > li {
    width: 356px;
  }
  .text {
    padding-bottom: 0px;
  }
  .section + .page-part-two {
    padding-bottom: 0;
  }
  .conteiner-section-two {
    max-width: 736px;
  }

  .page-part-four-figure {
    margin-bottom: 0px;
  }
  .section + .page-part-four,
  .section + .page-part-five {
    padding-bottom: 120px;
  }
  .company-icons {
    margin: 0;
    width: 168px;
  }
  .footer-flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 80px;
  }
  .footer-input {
    width: 264px;
  }
  .footer-input {
    border-color: var(--white-color);
  }
  .footer-button-div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-label {
    padding: 0 0 16px 0;
  }
  .footer-text {
    padding: 16px 0 0 0;
    max-width: 264px;
  }
  .footer-social-media-box {
    padding-left: 40px;
  }
  .footer-button-div-child {
    padding: 40px 0 0 0;
  }
  .footer-input::placeholder {
    color: var(--white-color);
    font: var(--font-button);
    font-size: 12px;
    letter-spacing: 0.04em;
    font-weight: 400;
  }
  .footer-social-media-box {
    padding-top: 100px;
  }
  .footer-input:focus,
  .footer-input:hover {
    color: var(--white-color);
    font: var(--font-button);
    font-size: 12px;
    letter-spacing: 0.04em;
    font-weight: 400;
  }
}
/* modal */
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.modal {
  background-color: var(--navy-blue-modal-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-page {
  background-color: var(--white-color);
  position: relative;
  top: 50%;
  left: 50%;
  width: 408px;
  height: 584px;
  border-radius: 4px;
  transform: translate(-50%, -65%);
}
.modal-close {
  position: absolute;
  inset: 24px 24px auto auto;
  border: 0;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: var(--cornflower-color);
  border-radius: 50%;
  border: 1px solid #00000014;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--navy-blue-color);
}
.modal-close-svg {
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
}
.modal-close:hover,
.nav-close-button:hover {
  background-color: var(--ocean-color);
  fill: var(--white-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: var(--iris-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea {
  width: 360px;
  height: 120px;
  resize: none;
  border: 1px solid var(--navy-blue-modal-color);
  border-radius: 4px;
  margin-top: 4px;
  outline: none;
}
.modal-textarea::placeholder {
  color: var(--light-slate-color);
  font-size: 12px;
}
textarea {
  padding-inline-start: 16px;
  padding-block: 8px;
}
.push-form-modal {
  width: 169px;
  height: 56px;
}
.modal-form {
  padding: 0px 24px;
}
.modal-input {
  width: 360px;
  height: 40px;
  border: 1px solid var(--navy-blue-modal-color);
  border-radius: 4px;
  outline: none;
}
.modal-label-style {
  color: var(--light-slate-color);
  font-family: var(--font-button);
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.17;
}
.modal-icons-div {
  position: relative;
  padding: 0;
  margin: 0;
  padding-top: 4px;
  margin-bottom: 8px;
}
.modal-icons-form {
  width: 38px;
  height: 40px;
  position: absolute;
  top: 50%;
  padding-left: 19px;
  translate: 0 -50%;
}

.modal-icons-div:focus-within {
  fill: var(--iris-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus,
.modal-textarea:focus {
  border-color: var(--iris-color);
  font-size: 12px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icons-div input {
  width: 100%;
  padding-block: 4px;
  padding-inline-start: 38px;
}
.modal-header-text {
  font-size: var(--button-size);
  letter-spacing: 0.02em;
  line-height: var(--line-height-main);
  padding-bottom: 16px;
}
.modal-header {
  display: flex;
  justify-content: center;
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
}
.button-modal-flex {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}
.hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.modal-label-style {
  display: flex;
  gap: 8px;
  align-items: center;
}
.checkbox-input {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--light-slate-color);
  border-radius: 2px;
}
.checkbox-input {
  position: relative;
}
.privacypolicy-div label {
  position: relative;
}
.privacypolicy-div {
  padding-top: 10px;
}
.checkbox-input:checked + .svg-icon-checkbox {
  background-color: var(--ocean-color);
}

.svg-icon-checkbox {
  fill: var(--white-color);
  position: absolute;
  padding: 4px 3px;
  border-radius: 4px;
  left: 0;
  top: 0;
}

/* end modal */

/* portfolio */
.button-list {
  padding-bottom: 57px;
}
.button-portfolio-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.portfolio {
  color: var(--iris-color);
  background-color: var(--cloud-color);
  border: 1px solid var(--cornflower-color);
  padding: 12px 24px 12px 24px;
}
.portfolio:hover,
.portfolio:focus {
  color: var(--white-color);
  background-color: var(--ocean-color);
  box-shadow: 0px 3px 1px 0px #0000001a, 0px 2px 1px 0px #00000014,
    0px 2px 2px 0px #0000001f;
  border: 1px solid var(--ocean-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.portfolio-item:nth-child(-n + 6) {
  margin-bottom: 24px;
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 6px 0px var(--navy-blue-transparent-color),
    0px 1px 1px 0px var(--navy-blue-less-transparent-color),
    0px 2px 1px 0px var(--navy-blue-transparent-color);
}
.portfolio-box {
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
}
.post-cards {
  display: block;
}
.portfolio-box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  color: var(--cloud-color);
  background-color: var(--iris-color);
  padding: 40px 32px 0px 32px;
  font-size: var(--button-size);
  line-height: var(--line-height-main);
  letter-spacing: var(--body-letter-spacing);

  translate: 0 100% 0;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .portfolio-box-overlay,
.portfolio-item:focus .portfolio-box-overlay {
  translate: 0;
}
.box-text-portfolio {
  border-bottom: 1px solid var(--cornflower-color);
  border-left: 1px solid var(--cornflower-color);
  border-right: 1px solid var(--cornflower-color);
  border-top: 0px solid var(--cornflower-color);
  padding: 32px 0px 32px 16px;
}
.header-border {
  border-bottom: 1px solid var(--cornflower-color);
}
.section-portfolio {
  padding-top: 100px;
}
